.content {
    background-image: url(/images/image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 1000px;
    background-color: black;
    font-family: 'montserrat';
}

.container {
    padding-left: 720px;
    padding-top: 110px;
}

.loginForm {
    width: 60%;
    border-radius: 20px;
    background-image: linear-gradient(to right, #50636a, #273c42);
    opacity:10;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 40px;
}

.heading {
    color: #fff;
    text-decoration: underline 3px;
    text-underline-offset: 10px;
    text-decoration-color: #fff;
    font-family: 'Iceland', cursive;
    font-size: 50px;
    padding-top: 10px;
    -webkit-text-stroke:0.1px black;
    font-weight: 900;
}

.subHeading {
    color: rgb(219, 217, 217);
    font-size: 20px;
    padding-top: 15px;
}

.userName {
    color: rgb(207, 205, 205);
    font-size: 15px;
}

.userNameInput {
    display: block;
    width: 90%;
    height: 40px;
    border-radius: 5px;
    background-image: linear-gradient(to right, #50636a, #273c42);
    opacity: 0.9;
    color:white;
    border: 0.1px solid white;
}

.password {
    color: rgb(207, 205, 205);
    font-size: 15px;
}

.passwordInput {
    display: block;
    width: 90%;
    height: 40px;
    border-radius: 5px;
    background-image: linear-gradient(to right, #50636a, #273c42);
    opacity: 0.9;
    border: 0.1px solid white;
    color:white;
}

::placeholder {
    color: #fff;
    font-family: 'montserrat';
    font-size: 15px;
    padding-left: 10px;
}

.changePassword {
    padding-left: 235px;
    color: rgb(219, 217, 217);
    font-size: 12px;
}

.loginButton {
    width: 90%;
    height: 42px;
    border-radius: 5px;
    background-color: #A5D9D0;
    font-weight: bolder;
    border: 0.1px solid rgb(5, 5, 5);
}

.bottomStatement {
    text-align: center;
    color: rgb(219, 217, 217);
    font-weight: lighter;
    font-size: 15px;
}

.bottomStatementWord {
    color: #fff;
    font-weight:900;
}